<div class="container">
    <!--fin logos-->
    <app-logos></app-logos>
    <!--Fin logos-->
    <div class="row">
        <div class="col-md-5 mx-auto text-center">
            <div class="login-right">
                <button mat-button (click)="cambiarLenguaje()">Español</button>

                <!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button> -->
                <!-- <mat-menu #menu="matMenu">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                </mat-menu> -->

                <form #loginForm="ngForm" (ngSubmit)="postLogin()">
                    <div class="sign-in">
                        <h4>{{ 'loginComponent.correo' | translate }} :</h4>
                        <input type="text" required [(ngModel)]="usuario" name="usuario">
                    </div>
                    <!--inputs-->
                    <div class="sign-in">
                        <h4>{{ 'loginComponent.clave' | translate }} :</h4>
                        <input type="password" required [(ngModel)]="clave" name="clave">
                        <!-- <input *ngIf="!mostrarTexto" type="password" required [(ngModel)]="claveInput" name="clave"> -->
                        <!-- <input *ngIf="mostrarTexto" type="text" required [(ngModel)]="claveInput" name="clave" -->
                        <!-- autocomplete="off"> -->
                        <!-- <br> -->
                        <!-- <p *ngIf="!mostrarTexto" (click)="this.mostrarTexto = !this.mostrarTexto">Ver contraseña</p> -->
                        <!-- <p *ngIf="mostrarTexto" (click)="this.mostrarTexto = !this.mostrarTexto">Ocultar contraseña</p> -->
                        <!-- <a>Olvidaste tu contraseña?</a> -->
                        <!-- <a>Registrate</a> -->
                    </div>
                    <!--Fin inputs-->
                    <div class="single-bottom">
                        <input type="checkbox" id="brand" value="" (click)="saveMyData = !saveMyData" checked
                            *ngIf="saveMyData">
                        <input type="checkbox" id="brand" value="" (click)="saveMyData = !saveMyData"
                            *ngIf="!saveMyData">
                        <label for="brand"><span></span>{{ 'loginComponent.recordar' | translate }}</label>
                    </div>
                    <!--Login btn-->
                    <div class="sign-in">
                        <input type="submit" [value]="'loginComponent.inicio' | translate">
                    </div>
                </form>
            </div>
        </div>
        <!--Fin Login reponsive-->
    </div>
</div>